# データの永続化　
## SQLite
* 軽量データベースを実装するC言語のライブラリ
* サーバー用のプロセスを必要としない、組み込み型のデータベースエンジン
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [ ]:
#DBファイルの保存先パス(相対パスで指定)
path = ''

#Google Colabの場合
#path = '/content/'

#DBファイルのパス
db_name = 'test.db'

#DB接続の確立
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
### car.db
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [ ]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #カーソルオブジェクト(RDBを操作するための言語）を実行するためのの取得
    cur = conn.cursor()

    #SQL文の作成 
    #テーブルの作成 (CREATE TABLE テーブル名,カラム名,カラムの型)
    sql = 'CREATE TABLE cars (id INT, name TEXT ,price REAL);'

    #SQl文の実行
    cur.execute(sql)

except sqlite3.Error as e:
    print('エラーが発生しました',e)
    
finally:
    #DBへの接続を閉じる
    conn.close()

### テーブルをDBに挿入する方法（単一レコード）

In [ ]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #カーソルオブジェクト(RDBを操作するための言語）を実行するためのの取得
    cur = conn.cursor()

    #SQL文の作成 
    #データの挿入 INSERT INTOテーブル名　VALUES (列に対応したデータをカンマ区切りで);
    #文字列データを挿入する場合は文字列をシングルクォーテーションで挟む
    sql = "INSERT INTO cars (id ,name ,price) VALUES(1,'370z',7000000);"

    #SQl文の実行
    cur.execute(sql)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)
    
finally:
    #DBへの接続を閉じる
    conn.close()

### 　データをDBに挿入する（複数レコード）

In [6]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #カーソルオブジェクト(RDBを操作するための言語）を実行するためのの取得
    cur = conn.cursor()

    #SQL文の作成 
    #複数レコード挿入 INSERT INTOテーブル名　VALUES (列に対応したブレースホルダー(位置を指定するためのもの)をカンマ区切りで);
    sql = "INSERT INTO cars (id ,name ,price) VALUES(?, ?, ?);"
    
    #タプルのリスト
    cars = [
            (2,'991カレラ',15500000),
            (3,'GRスープラ',8000000),
            (4,'シビック Type-R',5000000)
    ]

    #SQl文の実行
    #複数行の時はexecutemay で(sql,入れたいリスト)
    cur.executemany(sql,cars)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)
    
finally:
    #DBへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [ ]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #カーソルオブジェクト(RDBを操作するための言語）を実行するためのの取得
    cur = conn.cursor()

    #SQL文の作成 
    #データの参照 SELECT * FROM  テーブル名　;
    #*は取得したい列の名前を、,区切りで指定することもできる
    sql = "SELECT * FROM  cars ;"

    #SQl文の実行
    cur.execute(sql)

    # #変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)
    
else:
    #取得したデータを取り出す いてらぶる順番にfor文で渡すことができる
    #行データはタプルなので、 #行データはタプルなので、アンパックして列データを取得
    for row in cur:
        id, name, price = row
        print(id , name, price)    
    
finally:
    #DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
2 991カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #カーソルオブジェクト(RDBを操作するための言語）を実行するためのの取得
    cur = conn.cursor()

    #SQL文の作成 
    #データの削除 DELETE FROM   テーブル名 WHERE id = 1　;
    #*は取得したい列の名前を、,区切りで指定することもできる
    sql = "DELETE FROM  cars WHERE id = 1;"
    # sql = "DELETE FROM  cars WHERE name = '911カレラ';"
    # sql = "DELETE FROM  cars WHERE name like '%911カレラ';"

    #SQl文の実行
    cur.execute(sql)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)

finally:
    #DBへの接続を閉じる
    conn.close()

### データの更新

In [10]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #カーソルオブジェクト(RDBを操作するための言語）を実行するためのの取得
    cur = conn.cursor()

    #SQL文の作成 
    #データの更新 UPDATE テーブル名 SET カラム名　= 更新値 WHERE 更新した偉業を指定する条件　;
    sql = "UPDATE cars SET price = ?  WHERE id = ?;"


    #SQl文の実行
    cur.execute(sql,(5000000,2))

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)

finally:
    #DBへの接続を閉じる
    conn.close()